<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title></title>
    <meta name="description" content="Home page for ">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="George Blanchard">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/medium.css">
    <link rel="stylesheet" href="../static/css/large.css">
    
    
  </head>
  
  <body>
    <header>
      <h1>MTG Mulligan tracker</h1>
      <p>Take your deck, draw a hand of seven, and choose whether to keep that hand or mulligan. We'll keep track of how often you mulligan so you can determine how consistent your deck is.</p>
    </header>

    <main>

      <form id="decklistForm" method="post">
        <textarea name="decklist" rows="10" cols="50" placeholder="Enter your decklist here..."></textarea>
        <button type="submit">Submit Decklist</button>
      </form>

      
      <section>
        <h2>Simulating Game #<span id="gameNumber">{{ game_number }}</span> - Mulligan #<span id="currentMulligan">{{ mulligan_count }}</span></h2>
        <p><span id="deck-length">0</span> cards in deck.</p>
        <ul id="hand-display"></ul>
        <button onclick="keepHand()">Keep Hand</button>
        <button onclick="mulliganHand()">Mulligan</button>
      </section>
      <!-- Display Graph Here -->

      <section id="graph">
        <!-- For the graph -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <canvas id="mulliganChart"></canvas>

        <!-- Pass mulligan_data from Flask to JavaScript -->
        <script type="text/javascript">
          const mulliganData = {{ session['mulligan_data'] | tojson }};
        </script>

        <button onclick="clearData()">Clear Data</button>
      </section>

      

      <div id="stats">
        <ul>
          <li>0 Mulligans: <span id="mull0">0</span> times</li>
          <li>1 Mulligans: <span id="mull1">0</span> times</li>
          <li>2 Mulligans: <span id="mull2">0</span> times</li>
          <li>3 Mulligans: <span id="mull3">0</span> times</li>
          <li>4 Mulligans: <span id="mull4">0</span> times</li>
          <li>5 Mulligans: <span id="mull5">0</span> times</li>
          <li>6 Mulligans: <span id="mull6">0</span> times</li>
          <li>7 Mulligans: <span id="mull7">0</span> times</li>
        </ul>
        <p>You are currently averaging <span id="mullRatio">0</span> mulligans per game.</p>
      </div>

    </main>

    <footer class="center"></footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
  </body>
  
</html>